<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.msy.mapper.ReaderMapper">
    <resultMap id="BTR" type="reader">
        <id property="id" column="reader_id"/>
        <result property="name" column="reader_name"/>
        <result property="age" column="reader_age"/>
        <result property="hobby" column="reader_hobby"/>
        <association property="country" column="cid" javaType="country" select="queryCountryByCid" fetchType="lazy"/>
        <collection property="bkRrList" column="ri" ofType="bkRr">
            <id property="id" column="bid"/>
            <association property="book" javaType="book">
                <id property="id" column="bi"/>
                <result property="name" column="bn"/>
            </association>
        </collection>
    </resultMap>
    <select id="queryCountryByCid" resultType="country">
        select * from country where id =#{cid}
    </select>

    <select id="queryAll" resultMap="BTR">
        select r.*, b.book_name bn, bk.book_id bi, bk.id bid, bk.reader_id ri, c.id cid
        from reader r
                 join bkrr bk on r.reader_id = bk.reader_id
                 join book b on bk.book_id = b.book_id
                 join country c on c.id = r.reader_cid
        <where>
            <if test="name != null and name != ''">
                and r.reader_name = #{name}
            </if>

            <if test="hobby!=null and hobby != ''">
                and r.reader_hobby = #{hobby}
            </if>

        </where>
        order by r.reader_id
    </select>

    <select id="queryCourse" resultType="org.msy.bean.Book">
        select book_id id, book_name name
        from book
    </select>

    <insert id="insertReader" parameterType="reader" useGeneratedKeys="true" keyProperty="id">
        insert into reader(reader_name, reader_hobby, reader_age) value (#{name}, #{hobby}, #{age});
    </insert>

    <insert id="insertBkRr">
        insert into bkrr value (#{cid}, null, ${sid});
    </insert>

    <select id="queryById" resultMap="BTR">
        select r.*, b.book_name bn, bk.book_id bi, bk.id bid, bk.reader_id ri,c.id cid
        from reader r
                 join bkrr bk on r.reader_id = bk.reader_id
                 join book b on bk.book_id = b.book_id
                 join country c on c.id = r.reader_cid
        where r.reader_id = #{id};
    </select>

    <delete id="deleteBkRrById">
        delete
        from bkrr
        where reader_id = #{id};
    </delete>

    <update id="updateReader" parameterType="reader">
        update reader
        set reader_name=#{name},
            reader_hobby=#{hobby},
            reader_age=#{age}
        where reader_id = #{id};
    </update>

    <delete id="delete">
        delete
        from reader
        where reader_id = #{id};
    </delete>

</mapper>
